@import url('https://fonts.googleapis.com/css?family=Assistant|Lato|Nanum+Gothic|Open+Sans|Open+Sans+Condensed:300|Quicksand|Raleway|Rokkitt');

.left-drawer-list {
    color: #444;
    font-weight: 500;
    font-size: large;
    font-family: 'Assistant', sans-serif;
}

.left-drawer-list li {
    color: #444;
    font-weight: 500;
    font-size: large;
    padding-bottom: 10%;
    padding-top: 10%;
    font-family: 'Assistant', sans-serif;
}

.name-container {
    padding: 20px;
    text-align: center;
    font-size: xx-large;
    font-family: 'Assistant', sans-serif;
    font-weight: 500;
    background-color: #fafafa;
    border-bottom: 1px solid #ddd;
    color: #008073;
}

.designation {
    text-align: right;
    font-size: x-large;
    color: rgb(148, 21, 4);
    font-family: 'Assistant', sans-serif;
    font-weight: 500;
}
