.list-div a {
    text-decoration: none;
    color: #444;
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

/* var randomColor = Math.floor(Math.random()*16777215).toString(16); */

#title:hover {
    font-weight: 800;
}

.list-div:hover {
    border-right: 5px solid #F7B733;
}

.list-div li {
    height: 100%;
    list-style: none;
}

.list-div i {
    list-style: none;
    width: 25px;
    text-align: center;
    min-width: 25px;
    color: #F7B733;
}

.list-div span {
    padding-left: 10px;
}