section {
    display: block;
}

main {
    display: block;
    background: whitesmoke repeat;
    padding-left: 190px;
}

#intro.section {
    background: url('./images/me.png') no-repeat top center/cover;
    position: relative;
}

.full-height {
    height: 100vh;
}

.section {
    padding-bottom: 30px;
    padding-top: 0;
    padding-left: 35px;
    position: relative;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: auto;
    padding-right: 20px;
    position: fixed;
    height: 100vh;
    background: #fafafa;
    overflow: hidden;
    z-index: 999;
    border: 0px solid #ddd;
}

.container {
    min-height: 100%;
    overflow: auto;
}

#sidebar .sidebar-header {
    background: #fafafa;
}


#sidebar ul.components {
    padding: 5vh 0;
}

#overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

#overlay.active {
    display: block;
    opacity: 1;
}

.image-div {
    background-image: url('./images/me.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.text-over-image-div {
    padding: 30px 50px;
    line-height: 200%;
    color: white;
    text-align: left;
    font-weight: 300;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
}

h2 {
    margin: 0;
}

.highlighted-text {
    background-color: #008073;
}

.underlined-text {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #008073;
}